.is_odd {
	grid-column: 1 / -1;
}

@media (width >= 768px) {
	.is_odd {
		grid-column: 2 / -1;
	}
}

.is_even {
	grid-column: 1 / -1;
	justify-self: initial;
}

@media (width >= 768px) {
	.is_even {
		grid-column: 1 / 2;
		justify-self: flex-end;
	}
}

.container {
	--invisible-box-width: calc(var(--toolkit-container-width) / 2.5);
	--col-gap: calc(var(--toolkit-padding) * 0.75);

	--toolkit-video-section-height-initial: var(--toolkit-video-section-height);

	--border: var(--space-px) solid var(--color-gray-500);
	--bg-color: var(--color-gray-100);

	position: relative;
	width: var(--toolkit-card-width);
}

@media (width >= 768px) {
	.container {
		--toolkit-video-section-height-initial: 0;
	}
}

/* ================================================== */
/* */
/* Top */

.top {
	display: flex;
	align-items: center;
	column-gap: var(--col-gap);
	padding: var(--toolkit-padding);

	border: var(--border);
	background-color: var(--bg-color);

	position: relative;

	& .invisible_box {
		bottom: calc(var(--space-px) * -1);
	}

	& .container_box::after {
		content: "";
		position: absolute;
		z-index: 2;
		top: 100%;
		left: calc(var(--toolkit-container-width) / 2 - var(--space-px));
		width: var(--space-px);
		height: calc(var(--toolkit-padding) + var(--space-1));
		background-color: var(--color-gray-500);
	}
}

.invisible_box {
	position: absolute;
	z-index: 1;
	left: 0;

	aspect-ratio: 1;
	background-color: var(--bg-color);

	width: var(--invisible-box-width);
	height: var(--space-px);
	margin-inline-start: calc(
		var(--toolkit-padding) + var(--toolkit-container-width) / 2 -
			var(--invisible-box-width) / 2
	);
}

.container_box {
	display: grid;
	place-content: center;

	aspect-ratio: 1;
	width: var(--toolkit-container-width);

	border: var(--space-px) solid var(--color-gray-500);

	position: relative;
}

/* ================================================== */
/* */
/* Mid */

.mid {
	height: var(--toolkit-video-section-height);

	padding-inline-start: 4vmax;
	padding-inline-end: 1vmax;

	border: var(--border);
	border-top: none;
	background-color: var(--bg-color);

	overflow: hidden;

	--clip-path-opened: inset(0% 0% 0% 0%);
	--clip-path-closed: inset(0% 0% 0% 0%);
	clip-path: var(--clip-path-opened);

	position: relative;
}

@media (width >= 768px) {
	.mid {
		--clip-path-closed: inset(
			0% 0%
				calc(
					100% - var(--toolkit-padding) * 2 -
						var(--toolkit-container-width)
				)
				0%
		);
	}
}

.line_container_mid {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: var(--space-px);
	height: 100%;

	margin-inline-start: calc(
		var(--toolkit-padding) + var(--toolkit-container-width) / 2
	);
	background-color: var(--color-gray-500);
}

.video {
	height: 100%;
	width: 100%;
	mix-blend-mode: lighten;

	--video-scale-hidden: 1;
}

@media (width >= 768px) {
	.video {
		--video-scale-hidden: 0.5;
	}
}

/* ================================================== */
/* */
/* Bottom */

.bottom {
	display: flex;
	align-items: center;
	column-gap: var(--col-gap);
	padding: var(--toolkit-padding);
	padding-inline-start: calc(
		var(--toolkit-padding) + var(--toolkit-container-width) + var(--col-gap)
	);

	border: var(--border);
	background-color: var(--bg-color);

	position: absolute;
	top: calc(
		var(--toolkit-padding) * 2 + var(--toolkit-container-width) -
			var(--space-px)
	);
	left: 0;
	width: 100%;

	& .invisible_box {
		top: calc(var(--space-px) * -1);
	}
}

.line_container_bottom {
	position: absolute;
	z-index: 2;
	top: calc(var(--space-px) * -1);
	left: 0;
	width: calc(var(--toolkit-padding) + var(--toolkit-container-width));
	height: calc(100% + var(--space-px));

	margin-inline-start: calc(
		var(--toolkit-padding) + var(--toolkit-container-width) / 2
	);
}

.line_v {
	width: var(--space-px);
	height: calc(
		100% - var(--toolkit-padding) - var(--toolkit-container-width) / 2
	);

	background-color: var(--color-gray-500);
}

.line_h {
	width: var(--space-px);
	height: calc(var(--toolkit-container-width) / 2);
	transform-origin: 50% 0%;
	transform: rotate(-90deg);

	background-color: var(--color-gray-500);
}

.logo {
	width: calc(var(--toolkit-container-width) * 0.75);
	height: calc(var(--toolkit-container-width) * 0.75);
	object-fit: contain;
}

.company {
	color: var(--color-gray-600);
}
