.section {
	position: relative;

	color: var(--color-text-dark);
	padding-inline: var(--padding-body);
	margin-block-end: var(--gap-section-M);

	background-color: var(--color-bg-light);

	& h2::selection,
	& h3::selection,
	& p::selection {
		background-color: var(--color-bg-dark);
		color: var(--color-text-light);
	}
}

.title {
	display: block;
	max-width: 20ch;
	margin-inline: auto;
	margin-block-end: calc(var(--gap-section-XS) * 1.75);
}

@media (width >= 768px) {
	.title {
		display: none;
	}
}

.list {
	display: flex;
	flex-direction: column;

	row-gap: var(--padding-body);
}

@media (width >= 768px) {
	.list {
		row-gap: var(--space-0);
	}
}
