.section {
	--width: 2.75vmin;

	color: var(--color-text-light);
	padding-block: var(--gap-section-M);
	padding-inline: var(--padding-body);
	padding-block-end: 100svh;

	& h2::selection,
	& h3::selection,
	& p::selection {
		background-color: var(--color-bg-light);
		color: var(--color-text-dark);
	}
}

@media (width >= 480px) {
	.section {
		--width: 2vmin;
	}
}

@media (width >= 768px) {
	.section {
		--width: 1.5vmin;
	}
}

@media (width >= 992px) {
	.section {
		top: 0;
		--width: 0.9vmax;
	}
}

.title {
	margin-block-end: var(--gap-section-XXS);
}

.subtitle {
	display: flex;
	width: fit-content;
	margin-inline: auto;

	column-gap: 0.5em;
	align-items: flex-start;

	margin-block-end: 11vmax;

	& p {
		max-width: 25ch;
	}
}

@media (width >= 992px) {
	.subtitle {
		column-gap: 0.75em;
		align-items: center;

		& p {
			max-width: none;
		}
	}
}

.box {
	aspect-ratio: 1;

	width: var(--width);
	background-color: var(--color-bg-accent);

	position: relative;
	top: calc(var(--font-size-body-2) / 3);
}

.container_cards {
	position: relative;
}

/* ================================================== */
/* */
/* Grid */

.grid {
	padding-block-start: 8vmax;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: var(--toolkit-card-height);
	column-gap: 8svw;

	row-gap: var(--padding-body);
}

@media (width >= 768px) {
	.grid {
		row-gap: 15vmax;
	}
}

/* ================================================== */
/* */
/* Timeline */

.container_timeline {
	display: none;
}

@media (width >= 768px) {
	.container_timeline {
		display: initial;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		height: 100%;
	}
}

.timeline_current {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.container_inner {
	position: sticky;
	z-index: 1;
	inset: var(--timeline-offset-top) 0%;

	width: 100%;
	height: var(--timeline-inner-height);

	display: flex;
	align-items: center;
	justify-content: center;

	--pseudo-position: -40%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		height: calc(var(--pseudo-position) * -2);
		width: 100%;
	}

	&::before {
		top: var(--pseudo-position);
		background: linear-gradient(
			to bottom,
			var(--color-bg-dark) 0%,
			var(--color-bg-dark) 50%,
			transparent 100%
		);
	}

	&::after {
		bottom: var(--pseudo-position);
		background: linear-gradient(
			to top,
			var(--color-bg-dark) 0%,
			var(--color-bg-dark) 50%,
			transparent 100%
		);
	}
}

.timeline_main {
	height: 100%;
}

/* ================================================== */
/* */
/* Box and rest - in timeline */

.timeline_box {
	aspect-ratio: 1;
	height: var(--width);
	width: var(--width);

	background-color: var(--color-bg-light);
}
