/* ================================================== */
/* */
/* BASE */

html {
	scrollbar-width: none; 
}

body {
	height: 100dvh;
	overflow-x: hidden;
	background-color: var(--color-bg-dark);
	color: var(--color-text-light);
}

/* ================================================== */
/* */
/* APPEARANCE */

::selection {
  background-color: var(--color-bg-dark);
}
