/* ================================================== */
/* */
/* BASE */

html {
	scrollbar-width: none;
	overscroll-behavior: none;
}

body {
	height: 100dvh;
	overflow-x: hidden;
	background-color: var(--color-bg-light);
	color: var(--color-text-light);
}

/* ================================================== */
/* */
/* APPEARANCE */

::selection {
	background-color: var(--color-bg-dark);
}

/* ================================================== */
/* */
/* Reveal text in section AboutList */

.charAbout-mask {
	overflow: visible !important;
}

.wordAbout:nth-of-type(1) .charAbout-mask {
	& .charAbout {
		--char-bg-color: var(--color-bg-dark);
		--char-color: var(--color-text-light);
	}
}

.wordAbout:nth-of-type(2) .charAbout-mask {
	& .charAbout {
		--char-bg-color: var(--color-bg-accent);
		--char-color: var(--color-text-light);
	}
}

.wordAbout:nth-of-type(3) .charAbout-mask {
	& .charAbout {
		--char-bg-color: var(--color-gray-800);
		--char-color: var(--color-text-dark);
	}
}

.charAbout {
	background-color: var(--char-bg-color);
	color: var(--char-color);
}

/* ================================================== */
/* */
/* Lenis */

html.lenis,
html.lenis body {
	height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
	overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch],
.lenis [data-lenis-prevent-vertical],
.lenis [data-lenis-prevent-horizontal] {
	overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

.lenis.lenis-autoToggle {
	transition-property: overflow;
	transition-duration: 1ms;
	transition-behavior: allow-discrete;
}
