:root {
	/* monochrome */
	--hue: 218;
	--color-gray-0: hsl(var(--hue), 100%, 1%);
	--color-gray-100: hsl(var(--hue), 12%, 8%);
	--color-gray-200: hsl(var(--hue), 7%, 13%);
	--color-gray-300: hsl(var(--hue), 8%, 15%);
	--color-gray-400: hsl(var(--hue), 11%, 23%);
	--color-gray-500: hsl(var(--hue), 10%, 33%);
	--color-gray-600: hsl(var(--hue), 10%, 47%);
	--color-gray-700: hsl(var(--hue), 10%, 58%);
	--color-light: hsl(var(--hue), 0%, 100%);

	/* accent */
	--color-blue: hsl(var(--hue), 100%, 58%);
	--color-blue-900: hsl(var(--hue), 100%, 96%);

	/* ================================================== */
	/* */
	/* Background */
	--color-bg-dark: var(--color-gray-0);
	--color-bg-light: var(--color-light);
	--color-bg-accent: var(--color-blue);
	--color-bg-accent-light: var(--color-blue-900);

	/* ================================================== */
	/* */
	/* Buttons */
	--color-button-accent: var(--color-blue);
	--color-button-light: var(--color-light);
	--color-button-dark: var(--color-gray-0);

	/* ================================================== */
	/* */
	/* Text */
	--color-text-dark: var(--color-gray-0);
	--color-text-light: var(--color-light);
	--color-text-accent: var(--color-blue);
}
