:root {
	/* ================================================== */
	/* */
	/* Spacings */
	--space-0: 0px;
	--space-px: 1px;
	--space-1: 2px;
	--space-2: 4px;
	--space-3: 6px;
	--space-4: 8px;
	--space-5: 10px;
	--space-6: 12px;
	--space-7: 14px;
	--space-8: 16px;
	--space-9: 18px;
	--space-10: 20px;
	--space-11: 24px;
	--space-12: 32px;
	--space-13: 40px;
	--space-14: 48px;
	--space-15: 56px;
	--space-16: 64px;
	--space-17: 80px;
	--space-18: 96px;
	--space-19: 128px;
	--space-20: 256px;
	--space-21: 512px;

	/* ================================================== */
	/* */
	/* Padding */
	--padding-body: 3.5vmin;
	--gap-section-L: 45vmin;
	--gap-section-M: 40vmin;
	--gap-section-S: 25vmin;
	--gap-section-XS: 12vmin;
	--gap-section-XXS: 6vmin;

	/* ================================================== */
	/* */
	/* Toolkit section */
	--toolkit-padding: 3vmin;
	--toolkit-container-width: 8vmin;
	--toolkit-video-section-height: 60vmin;
	--toolkit-card-width: 100%;

	--toolkit-card-height: calc(
		var(--toolkit-padding) * 4 + var(--toolkit-container-width) * 2 +
			var(--toolkit-video-section-height)
	);
}

@media (width >= 480px) {
	:root {
		--gap-section-S: 17vmin;
	}
}

@media (width >= 768px) {
	:root {
		--gap-section-L: 25vmin;
		--gap-section-M: 25vmin;
		--gap-section-S: 11vmin;
		--gap-section-XS: 10vmin;
		--gap-section-XXS: 5vmin;

		--toolkit-padding: 2.25vmin;
		--toolkit-container-width: 5vmin;
		--toolkit-video-section-height: 33vmin;
		--toolkit-card-width: 42svw;
	}
}

@media (width >= 992px) {
	:root {
		--padding-body: 1.75vmax;
		--gap-section-L: 19vmax;
		--gap-section-M: 15vmax;
		--gap-section-S: 6.5vmax;
		--gap-section-XS: 4.5vmax;
		--gap-section-XXS: 1.75vmax;

		--toolkit-padding: 1.25vmax;
		--toolkit-container-width: 2.75vmax;
		--toolkit-video-section-height: 20vmax;
		--toolkit-card-width: 33vmax;
	}
}
