.container {
	display: flex;
	align-items: center;
}

.container_icon {
	display: grid;
	place-content: center;
	aspect-ratio: 1;
	width: calc(var(--padding-body) * 1.5);
	background-color: var(--color-bg-accent);
}

.img {
	filter: invert();
}

.text {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-inline-start: calc(var(--padding-body) * 0.3);
}
