/* ================================================== */
/* */
/* Timeline */

.container_timeline {
	display: none;
	--width: 2.75vmin;
}

@media (width >= 480px) {
	.container_timeline {
		--width: 2vmin;
	}
}

@media (width >= 768px) {
	.container_timeline {
		--width: 1.5vmin;
	}
}

@media (width >= 992px) {
	.container_timeline {
		top: 0;
		--width: 0.9vmax;
	}
}

@media (width >= 768px) {
	.container_timeline {
		display: initial;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		height: 100%;
	}
}

.timeline_current {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.container_inner {
	position: sticky;
	z-index: 1;
	inset: var(--timeline-offset-top) 0%;

	width: 100%;
	height: var(--timeline-inner-height);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	--pseudo-position: -40%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		height: calc(var(--pseudo-position) * -2);
		width: 100%;
	}

	&::before {
		top: var(--pseudo-position);
		background: linear-gradient(
			to bottom,
			var(--color-bg-dark) 0%,
			var(--color-bg-dark) 50%,
			transparent 100%
		);
	}

	&::after {
		bottom: var(--pseudo-position);
		background: linear-gradient(
			to top,
			var(--color-bg-dark) 0%,
			var(--color-bg-dark) 50%,
			transparent 100%
		);
	}
}

.timeline_main {
	height: 100%;
}

/* ================================================== */
/* */
/* Box and rest - in timeline */

.timeline_box {
	aspect-ratio: 1;
	height: var(--width);
	width: var(--width);

	background-color: var(--color-bg-light);

	position: absolute;
}

.container_path {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);

	aspect-ratio: 1;
	height: var(--width);
	width: var(--width);
}

.timeline_path {
	background-color: var(--color-bg-accent);
	width: var(--space-1);

	position: absolute;
	left: 0%;
}

.top {
	bottom: 90%;
}

.bottom {
	top: 90%;
}
