.gradient_blur {
	position: absolute;
	inset: 0;
	pointer-events: none;
	contain: layout style paint;
	transform: translateZ(0);

	& > div {
		position: absolute;
		inset: 0;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
	}

	& > div:nth-of-type(1) {
		backdrop-filter: blur(2.8px);
		mask: radial-gradient(
			circle at var(--mouse-x) var(--mouse-y),
			transparent 0%,
			transparent 14%,
			black 20%
		);
	}

	& > div:nth-of-type(2) {
		backdrop-filter: blur(4px);
		mask: radial-gradient(
			circle at var(--mouse-x) var(--mouse-y),
			transparent 0%,
			transparent 16%,
			black 38%
		);
	}
}
