.title {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	justify-self: center;
	align-self: center;

	width: 100%;
	height: 100%;
	padding-block-start: 10vmax;
	padding-block-end: 10vmax;

	background-color: var(--color-bg-accent);
	background-clip: text;

	color: transparent;

	--text-x-mobile: 50%;
	--text-y-mobile: 50%;

	background-image: radial-gradient(
		circle at var(--text-x-mobile) var(--text-y-mobile),
		var(--color-text-light) 0%,
		var(--color-text-light) 44%,
		var(--color-text-accent) 85%,
		transparent 95%
	);

	background-size: 100% 100%;
	background-repeat: no-repeat;

	transform: translateZ(0);
	backface-visibility: hidden;
	/* will-change: background-image; */

	cursor: default;
	max-width: 5ch;
}

@media (width >= 560px) {
	.title {
		padding-block-end: 10vmax;
	}
}

@media (width >= 700px) {
	.title {
		padding-block-end: 6vmax;
	}
}

@media (width >= 768px) {
	.title {
		padding-block-end: 8vmax;
	}
}

@media (width >= 920px) {
	.title {
		padding-block-start: 4vmax;
		padding-block-end: 4vmax;
	}
}

@media (width >= 992px) {
	.title {
		max-width: none;
		background-image: radial-gradient(
			circle at var(--text-x) var(--text-y),
			var(--color-text-light) 0%,
			var(--color-text-light) 44%,
			var(--color-text-accent) 85%,
			transparent 95%
		);
	}
}

.title::selection {
	background-color: var(--color-bg-dark);
	color: var(--color-text-light);
}
