.button {
	padding-inline: 6.25vmin;
	padding-block: 3.75vmin;
}

@media (width >= 480px) {
	.button {
		padding-inline: 5vmin;
		padding-block: 2.5vmin;
	}
}

@media (width >= 768px) {
	.button {
		padding-inline: 3.25vmin;
		padding-block: 1.75vmin;
	}
}

@media (width >= 992px) {
	.button {
		padding-inline: 2vmax;
		padding-block: 1vmax;
	}
}

.content {
	position: relative;
	bottom: 0.05em;
}
