.container {
	display: none;
}

@media (width >= 480px) {
	.container {
		width: 100%;
		height: 40svh;
		display: flex;
		overflow: hidden;
		position: relative;
	display: flex;

	}
}


.bar {
	flex: 1;
}

.bar_1,
.bar_7 {
	background: linear-gradient(
		to bottom,
		var(--color-bg-light) 50%,
		var(--color-bg-accent) 75%,
		var(--color-bg-dark) 100%
	);
}

.bar_2,
.bar_6 {
	background: linear-gradient(
		to bottom,
		var(--color-bg-light) 40%,
		var(--color-bg-accent) 70%,
		var(--color-bg-dark) 100%
	);
}

.bar_3,
.bar_5 {
	background: linear-gradient(
		to bottom,
		var(--color-bg-light) 20%,
		var(--color-bg-accent) 60%,
		var(--color-bg-dark) 100%
	);
}

.bar_4 {
	background: linear-gradient(
		to bottom,
		var(--color-bg-light) 0%,
		var(--color-bg-accent) 50%,
		var(--color-bg-dark) 100%
	);
	display: flex;
	justify-content: space-between;
}

.bar_5,
.bar_6 {
	display: flex;
	flex-direction: row-reverse;
}
