.container {
	--gap: calc(var(--padding-body) * 1);
	--isDesktop: inset(0% 0% 100% 0%);
	--isMobile: inset(0% 0% 0% 0%);

	display: flex;
	align-items: center;
	column-gap: var(--gap);

	padding-block: calc(var(--padding-body) * 0.75);
	padding-inline: var(--gap);

	background-color: var(--color-bg-accent);
	color: var(--color-text-light);

	clip-path: var(--isMobile);
}

@media (width >= 768px) {
	.container {
		clip-path: var(--isDesktop);
		--gap: calc(var(--padding-body) * 0.5);
		padding-block: calc(var(--padding-body) * 0.25);
	}
}

.container_icon {
	aspect-ratio: 1;
	height: auto;
	width: fit-content;
	display: flex;
	filter: invert();
	overflow: hidden;
}

.img_1 {
	position: relative;
}

.img_2 {
	position: absolute;
	top: 0;
	left: -200%;
}
