.container_bullet {
	display: flex;
	position: relative;
}

.vertical,
.horizontal {
	display: inline-flex;
}

.vertical {
	height: 50%;
}

.horizontal {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
}
