.container_bullet {
	display: flex;
	width: calc(var(--padding-body) * 1);
	position: relative;
}

.vertical,
.horizontal {
	display: inline-flex;
}

.vertical {
	width: var(--space-1);
	height: 50%;
	background-color: var(--color-bg-accent);
}

.horizontal {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: var(--space-1);
	background-color: var(--color-bg-accent);
}
